.mainTable {
  width: 560px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-collapse: collapse;
}
.tableHead {
  background-color: rgb(56, 55, 55);
  color: white;
  /* text-align: center; */
}
.tableHeadCol {
  border: 2px solid #131212; /* Бордер для комірок */
  padding: 4px;
  text-transform: capitalize;
  font-weight: 700;
}
.tBodyCol {
  text-align: center;
  border: 2px solid #131212; /* Бордер для комірок */
  padding: 4px;
}
.tBodyCol:nth-child(even) {
  background-color: #cac8c8;
}
.tBodyCol:nth-child(odd) {
  background-color: white;
}
